﻿body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    border-radius: 15px;
    margin-top:25px;
    border: 1px solid blueviolet;
    
}

    .container h1 {
        font-size: 35px;
        font-weight: 500;
        color: #777;
        text-align:center;
    }
    .container form {
        margin-left:15px;
    }
    .container .lblClbResultadoNaTela {
        width:100%;
        text-align: center;
        font-size:15px;
        margin-top:15px;

    }
