﻿body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-top: 25px;
    border: 1px solid blueviolet;
    color: #777;
}

    .container h1 {
        font-size: 30px;
        font-weight: 500;
        color: #777;
        text-align: center;
        
    }
   
    .container .radioBtn{
        font-size:15px;
    }

   